/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



 @charset "utf-8";

 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap-4-spacers";
 @import 'bootstrap-datetimepicker';


 .main-content {
   width: 960px;
   margin: auto;
   border-spacing: 10px;
 }

 .main-content-cell {
   vertical-align: top;
   padding-left: 20px;
   padding-right: 20px;

   box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.2s ease-in-out;
 }

 .main-content-cell:hover {
   box-shadow: 0 10px 20px rgba(204, 242, 255,.3), 0 6px 6px rgba(0,0,0,0.23);
 }

 .main-content-cell-heading {
   font-size: 18px;
   text-align: center;
 }


 .top-cover {
   background: url("public/tuscany.png") no-repeat center bottom;
   background-size: cover;
   height: 440x;
 }
